# Python
__pycache__/
*.py[cod]

# Environments
.venv/
.env

# Project Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
data/processed_position/*
!data/processed/.gitkeep
!data/processed_position/.gitkeep

# Training & Logs
wandb/
experiments/

# IDEs
.vscode/
.idea/
.DS_Store
checkpoints/